@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
}
nav-item li{
    font-size: 10px;
}


.logo{
    width: 20%;
    
}
.nav-link{
    font-size: 30px;
}
.navbar-toggler{
    background-color: white;

}




.main-600{
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.main-600 p{
    text-align: center;
}

/*cierre de contenido*/

.contenedor{
    display: grid;
    height: 120vh;     
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 2fr;
    grid-template-areas: "header"
                         "nav"
                         "main"
                         "footer";
                         
                         
}
section{
    display:none;
}

header{
    grid-area: header;
    
}

nav{ 
    grid-area: nav;   
    list-style: none;
    text-decoration: none;
}   



main{
    grid-area: main; 
    gap: 1rem;  
    
}



footer{
    grid-area: footer;
   column-gap: 1rem;
    
    
}
  
/*MQ*/







@media screen and (min-width: 600px) {
    .contenedor{          
        grid-template-columns: 4fr 1fr;
        grid-template-rows: 0.5fr 0.2fr 3fr 0.3fr;
        grid-template-areas: "header header header "
                             "nav nav nav"                             
                             "main main main"
                             "footer footer";
}



}

@media screen and (min-width: 768px) {
    .contenedor{         
        grid-template-columns: 1fr 1fr 2fr ;
        grid-template-rows: 1fr 0.5 0.5fr 1fr;
        grid-template-areas: "nav nav nav" 
                             "header header header"
                             "article article article"
                             "main main main"
                             "footer footer footer"; 
                             
}
article{
    grid-area: article;
    
}
.carousel-item{
    width: 400px;
    
} 



header img{
    width: 100%;
    height: 95%;
    
}



footer{
    background-color: black;
    bottom: 0;
    
    padding: 10px;
    width: 100%;
}
footer h3{
    color: white;
    font-weight: bold;
}


}


/*menu*/



.body-menu{
    background-image: url(../img/Dailogo.png);
    background-position: center;
    background-repeat: no-repeat;
}
.logo-menu{
    display: none;
}
.carousel-inner{
  display: flex;
  align-items: center;
  background-color: aqua;
  
}
/*Contacto*/
.body-contacto{
    background-image: url(../img/Dailogo.png);
    background-position: center;
    background-repeat: no-repeat
}
/*area*/


.contenedor-mapa {
    background-color: rgba(0, 0, 0, 0.081);
    padding: 20px;
    text-align: center;
    border: 10px;

}